{% extends "@SnowTricks/layout.html.twig" %}

{% block title %}
  Home - {{ parent() }}
{% endblock %}

{% block snowtricks_body %}
	<h1>Home page</h1>

	{% for message in app.session.flashbag.get('notice') %}
	    <div class="alert alert-success">Message flash : {{ message }}</div>
	{% endfor %}

	{% for row in listTricks|batch(4) %}
		<div class="row">
		{% for trick in row %}
			<div class="col-md-3">
			  	<div class="thumbnail">
			    	<a href="{{ path('trick_show', {'slug': trick.slug}) }}">
				      	<img src="" alt="" style="width:100%">
			    	</a>
			      	<div class="caption">
			        	<a href="{{ path('trick_show', {'slug': trick.slug}) }}">{{ trick.name }}</a>
			        	<div class="pull-right">
				        	<a href="{{ path('trick_edit', {'slug': trick.slug}) }}"><span class="glyphicon glyphicon-edit"></span></a>
				        	<a href="{{ path('trick_delete', {'slug': trick.slug}) }}"><span class="glyphicon glyphicon-trash"></span></a>
			        	</div>
			      	</div>
			  	</div>
			</div>
		{% endfor %}
		</div>
	{% endfor %}
{% endblock %}