{% extends "@SnowTricks/layout.html.twig" %}

{% block title %}
  {{ trick.name }} - {{ parent() }}
{% endblock %}

{% block snowtricks_body %}
	<h1>{{ trick.name }}</h1>

	<div class="col-md-8 well well-lg">
		<div class="row">
			<div class="col-md-12">
	  		{{ trick.description }}
	  		</div>
		</div>

		<hr>

		<div class="row">
			<div class="col-md-8 center-block" style="float:none;">
				<i>Tricks Group : {{ trick.tricksGroup.name }}</i> -
				<i>Created on {{ trick.created|date('d/m/Y') }}</i>
				{% if trick.updated is not null %}
					- <i>Updated on {{ trick.updated|date('d/m/Y') }}</i>
				{% endif %}
			</div>
		</div>
		
    	<div class="pull-right">
        	<a href="{{ path('snow_tricks_edit', {'slug': trick.slug}) }}"><span class="glyphicon glyphicon-edit"></span></a>
        	<a href="{{ path('snow_tricks_delete', {'slug': trick.slug}) }}"><span class="glyphicon glyphicon-trash"></span></a>
    	</div>
	</div>

{% endblock %}