<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}SnowTricks{% endblock %}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	{% block stylesheets %}
		<link rel="icon" type="image/x-icon" href="{{ asset('7-2-snowboard-png-pic.png_32x32.ico') }}" />
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.min.css">
		{# <link rel="stylesheet" type="text/css" href="{{ asset('css/styles.css') }}" /> #}
		{% stylesheets 'css/styles.css' filter='?scssphp' %}
		 	<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
		{% endstylesheets %}
	{% endblock %}
</head>

<body>
	<header>
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
			 	<div class="navbar-header">
			 		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
			 		  <span class="icon-bar"></span>
			 		  <span class="icon-bar"></span>
			 		  <span class="icon-bar"></span>                        
			 		</button>
			    	<a class="navbar-brand" href="{{ path('trick_list', {'page': 1}) }}">SnowTricks</a>
			 	</div>

				<div class="collapse navbar-collapse" id="myNavbar">	
					<ul class="nav navbar-nav">
				      	<li><a href="{{ path('trick_list', {'page': 1}) }}">Tricks</a></li>
				    {% if is_granted('ROLE_AUTHOR') %}
				      	<li><a href="{{ path('trick_add') }}">Add Trick</a></li>
				    {% endif %}
				  	</ul>
				  	<ul class="nav navbar-nav navbar-right">
			  		{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
			  			<li><a href="#">Welcome {{ app.user.username|capitalize }}</a></li>
			  			<li><a href="{{ path('logout') }}"><span class="glyphicon glyphicon-log-out"></span>&nbsp;Logout</a></li>
			  		{% else %}
				    	<li><a href="{{ path('user_registration') }}"><span class="glyphicon glyphicon-user"></span>&nbsp;Sign Up</a></li>
				      	<li><a href="{{ path('login') }}"><span class="glyphicon glyphicon-log-in"></span>&nbsp;Login</a></li>
			  		{% endif %}
					</ul>
				</div>
			</div>
		</nav> 
	</header>
	  
	<section class="container">
		{% for message in app.session.flashbag.get('notice') %}
		    <div class="alert alert-success alert-dismissible">
		      	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		      	<strong>Success!</strong> {{ message }}
		    </div>
		{% endfor %}
		<!-- <div class="alert alert-success alert-dismissible">
	      	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	      	<strong>Success!</strong> Your comment has been successfully added.
	    </div>  -->
		{% block section %}
		{% endblock %}
	</section>

    <footer>
      	<div class="container">
      		<span class="text-muted">COPYRIGHT &copy; 2018 S&Eacute;BASTIEN ROCHAT <span class="hidden-sm hidden-xs"> ALL RIGHTS RESERVED</span></span>
      	</div>
    </footer>

	{% block javascripts %}
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	{% endblock %}
</body>
</html>