<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}SnowTricks{% endblock %}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	{% block stylesheets %}
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	{% endblock %}
	<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
		 	<div class="navbar-header">
		    	<a class="navbar-brand" href="{{ path('trick_list', {'page': 1}) }}">SnowTricks</a>
		 	</div>
			<ul class="nav navbar-nav">
		      	<li class="active"><a href="{{ path('trick_list', {'page': 1}) }}">Home</a></li>
		      	<li class="dropdown">
		        	<a class="dropdown-toggle" data-toggle="dropdown" href="#">Tricks
		        	<span class="caret"></span></a>
		        	<ul class="dropdown-menu">
		          		<li><a href="#">Mute</a></li>
		         		<li><a href="#">Sad</a></li>
		          		<li><a href="#">Indy</a></li>
		        	</ul>
		      	</li>
		      	<li><a href="{{ path('trick_add') }}">Add Trick</a></li>
		  	</ul>
		  	<ul class="nav navbar-nav navbar-right">
	  		{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
	  			<li><a href="#">Welcome {{ app.user.username }}</a></li>
	  			<li><a href="{{ path('logout') }}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
	  		{% else %}
		    	<li><a href="{{ path('user_registration') }}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
		      	<li><a href="{{ path('login') }}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
	  		{% endif %}
			</ul>
		</div>
	</nav> 
	  
	<div class="container" style="margin-top:50px">
		{% for message in app.session.flashbag.get('notice') %}
		    <div class="alert alert-success alert-dismissible">
		      	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		      	<strong>Success!</strong> {{ message }}
		    </div>
		{% endfor %}
		
		{% block body %}
		{% endblock %}
	</div>

	{% block javascripts %}
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		{# {% block extra_js %}{% endblock %} #}
	{% endblock %}

	<script src="{{ asset('js/jquery.collection.js') }}"></script>

	{# {% block script %}{% endblock %} #}
	<script type="text/javascript">
	    $('.pictures-collection').collection({
	    	min: 0,
            max: 4,
	    	// add: '<a href="#" class="collection-add btn btn-default" title="Add picture"><span class="glyphicon glyphicon-plus-sign"></span></a>',
	    	add: '<a href="#" class="btn btn-default"><span class="glyphicon glyphicon-plus-sign"></span> Add picture</a>',
            // position_field_selector: '.my-position',
            allow_duplicate: false,
            add_at_the_end: true,
        });	    

        $('.videos-collection').collection({
	    	min: 0,
            max: 4,
	    	add: '<a href="#" class="btn btn-default"><span class="glyphicon glyphicon-plus-sign"></span> Add video</a>',
            allow_duplicate: false,
            add_at_the_end: true,
        });
	</script>
</body>
</html>