{% extends "layout.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
	{# <link rel="stylesheet" type="text/css" href="{{ asset('css/form.css') }}" /> #}
	{% stylesheets 'css/form.css' filter='?scssphp' %}
	 	<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
	{% endstylesheets %}
{% endblock %}

{% block section %}
	<h1>Sign Up</h1>

	<div class="col-md-12 well well-lg">
	    <div class="row">
	        <div class="col-md-8">

				{{ form_start(form) }}

				{{ form_errors(form) }}

				<div class="row">
					<div class="form-group col-xs-12 col-sm-6">
						{{ form_label(form.username, "Username") }}
						{{ form_errors(form.username) }}
						{{ form_widget(form.username) }}
					</div>
				</div>

				<div class="row">
					<div class="form-group col-xs-12 col-sm-6">
						{{ form_label(form.email, "Email") }}
						{{ form_errors(form.email) }}
						{{ form_widget(form.email) }}
					</div>
				</div>

				<div class="row">
					<div class="form-group col-xs-12 col-sm-6">
						{{ form_label(form.plainPassword.first, "Password") }}
						{{ form_errors(form.plainPassword.first) }}
						{{ form_widget(form.plainPassword.first) }}
					</div>
				</div>

				<div class="row">
					<div class="form-group col-xs-12 col-sm-6">
						{{ form_label(form.plainPassword.second, "Repeat Password") }}
						{{ form_errors(form.plainPassword.second) }}
						{{ form_widget(form.plainPassword.second) }}
					</div>
				</div>

				<div class="row">
					<div class="form-group col-xs-12 col-sm-6">
						{{ form_label(form.avatar, "Avatar") }}
						{{ form_errors(form.avatar) }}
						{{ form_widget(form.avatar) }}
					</div>
				</div>

				<div class="row">
					<div class="form-group col-xs-12 col-sm-6">
						{{ form_row(form.termsAccepted) }}
					</div>
				</div>

				<div class="row">
					<div class="form-group col-xs-12 col-sm-6">
						{{ form_widget(form.submit, { 'label': 'Create an account', 'attr': {'class': 'btn btn-primary pull-right'}}) }}
					</div>
				</div>

				{{ form_rest(form) }}

				{{ form_end(form) }}
	
	        </div>
	    </div>
	</div>
{% endblock %}