{% extends "layout.html.twig" %}

{% block stylesheets %}
	Forgot Password - {{ parent() }}
	{% stylesheets 'css/form.css' filter='?scssphp' %}
	 	<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
	{% endstylesheets %}
{% endblock %}

{% block section %}
	<h1>Forgot Password</h1>

	<div class="col-md-12 well well-lg">
	    <div class="row">
	        <div class="col-md-8">

	        	{% for message in app.session.flashbag.get('error') %}
	        		<div class="alert alert-danger alert-dismissible">
	        		    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	        		    <strong>Warning!</strong> {{ message }}
	        		</div>
	        	{% endfor %}

				{{ form_start(form) }}

				{{ form_errors(form) }}

				<div class="row">
					<div class="form-group col-xs-12 col-sm-6">
						{{ form_label(form.login, "Login") }}
						{{ form_errors(form.login) }}
						{{ form_widget(form.login, { 'attr': {'placeholder': 'Enter your username or email'}}) }}
					</div>
				</div>

				<div class="row">
					<div class="form-group col-xs-12 col-sm-6">
						{{ form_widget(form.submit, { 'label': 'Ask for reset Password', 'attr': {'class': 'btn btn-primary pull-right'}}) }}
					</div>
				</div>

				{{ form_rest(form) }}

				{{ form_end(form) }}
	
	        </div>
	    </div>
	</div>
{% endblock %}