{% extends "layout.html.twig" %}

{% block title %}
    Reset Password - {{ parent() }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets 'css/form.css' filter='?scssphp' %}
	 	<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
	{% endstylesheets %}
{% endblock %}

{% block section %}
	<h1>Reset Password</h1>

	<div class="col-md-12 well well-lg">
	    <div class="row">
	        <div class="col-md-8">

				{{ form_start(form) }}

				{{ form_errors(form) }}

				<div class="row">
					<div class="form-group col-xs-12 col-sm-6">
						{{ form_label(form.plainPassword.first, "Password") }}
						{{ form_errors(form.plainPassword.first) }}
						{{ form_widget(form.plainPassword.first) }}
					</div>
				</div>

				<div class="row">
					<div class="form-group col-xs-12 col-sm-6">
						{{ form_label(form.plainPassword.second, "Repeat Password") }}
						{{ form_errors(form.plainPassword.second) }}
						{{ form_widget(form.plainPassword.second) }}
					</div>
				</div>

				<div class="row">
					<div class="form-group col-xs-12 col-sm-6">
						{{ form_widget(form.submit, { 'label': 'Reset', 'attr': {'class': 'btn btn-primary pull-right'}}) }}
					</div>
				</div>

				{{ form_rest(form) }}

				{{ form_end(form) }}
	
	        </div>
	    </div>
	</div>
{% endblock %}