{% extends "layout.html.twig" %}

{% block title %}
  {{ trick.name }} - {{ parent() }}
{% endblock %}

{% block body %}
	<h1>{{ trick.name|capitalize }}</h1>

	<div class="col-md-8 well well-lg">
		<div class="row">
			<div class="col-md-12">
				<div class="thumbnail">
					{% if trick.pictures is empty %}
			      		<img src="{{ asset('uploads/pictures/default.jpeg') }}" alt="Image par défaut" style="width:100%">
			      	{% else %}
			 			<img src="{{ asset(trick.pictures|first.webPath) }}" alt="{{ trick.pictures|first.alt }}" style="width:100%">
			 			{# <img src="{{ asset('uploads/pictures/' ~ trick.pictures|first.file) }}" alt="{{ trick.pictures|first.alt }}" style="width:100%"> #}
		    		{% endif %}
			 	</div>
		 	</div>
		</div>

		{% if trick.pictures is not empty and trick.pictures|length > 1 %}
			{% for row in trick.pictures|slice(1)|batch(3) %}
				<div class="row">
				{% for picture in row %}
					<div class="col-md-4">
						<div class="thumbnail">
							<img src="{{ asset(picture.webPath) }}" alt="{{ picture.alt }}" style="width:100%">
							{# <img src="{{ asset('uploads/pictures/' ~ picture.file) }}" alt="{{ picture.alt }}" style="width:100%"> #}
						</div>
					</div>
				{% endfor %}
				</div>
			{% endfor %}
		{% endif %}

		{% if trick.videos is not empty %}
			{% for row in trick.videos|batch(3) %}
				<div class="row">
				{% for video in row %}
					<div class="col-md-4">
						<div class="thumbnail">
							{# <img src="{{ video.image() }}" style="width:100%"> #}
							{{ video.video()|raw }}
						</div>
					</div>
				{% endfor %}
				</div>
			{% endfor %}
		{% endif %}

		<hr>

		<div class="row">
			<div class="col-md-12">
	  			<p>{{ trick.description }}</p>
	  		</div>
		</div>

		<div class="row">
			<div class="col-md-10 center-block" style="float:none;">
				<em><strong>Tricks Group : {{ trick.tricksGroup.name }}</strong></em><br>
				<em>Created on {{ trick.created|date("F jS\, Y \\a\\t g:ia") }}</em>
				{% if trick.updated is not null %}
					- <em>Updated on {{ trick.updated|date("F jS\, Y \\a\\t g:ia") }}</em>
				{% endif %}
			</div>
		</div>
		
    	{% if is_granted('ROLE_AUTHOR') %}
    	<div class="pull-right">
        	<a href="{{ path('trick_edit', {'slug': trick.slug}) }}"><span class="glyphicon glyphicon-edit"></span></a>
        	<a class="delete-trick" data-name="{{ trick.name }}" href="{{ path('trick_delete', {'slug': trick.slug}) }}"><span class="glyphicon glyphicon-trash"></span></a>
    	</div>
		{{ include("Trick/delete.html.twig") }}
    	{% endif %}


	{% if is_granted('ROLE_AUTHOR') %}
		<hr>
		{{ form_start(form) }}

		{{ form_errors(form) }}

		<div class="row">
			<div class="form-group col-md-12">
				{{ form_errors(form.content) }}
				{{ form_widget(form.content, {'attr': {'rows': 5}}) }}
			</div>
		</div>	

		<div class="row">
			<div class="form-group col-md-12">
				{{ form_widget(form.submit, { 'label': 'Leave a comment', 'attr': {'class': 'btn btn-primary pull-right'}}) }}
			</div>
		</div>

		{{ form_rest(form) }}

		{{ form_end(form) }}
	{% endif %}

	{% if trick.comments is not empty %}
		<hr>
		{% for comment in trick.comments|reverse %}
		<div class="row">
			<div class="col-md-12">
				<p>{{ comment.content }}</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10 center-block" style="float:none;">
				{% if comment.user.avatar is not empty %}
					<div class="col-md-2">
						<div class="thumbnail">
		 					<img src="{{ asset(comment.user.avatar.webPath) }}" alt="{{ comment.user.avatar.alt }}" style="width:100%">
		 				</div>
					</div>
	    		{% endif %}
				<em>Posted on {{ comment.created|date("F jS\, Y \\a\\t g:ia") }} by {{ comment.user.username|capitalize }}</em>
			</div>
		</div>
		{% if not loop.last %}<hr>{% endif %}
		{% endfor %}
	{% endif %}
	</div>
{% endblock %}